#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img{
  width: 100%;
  border-bottom: solid 1px rgb(240, 236, 236);
}

p{
  width: 95%;
  text-align: start;
}


